---
import Layout from '../layouts/Layout.astro';
import QuizGame from '../components/QuizGame.astro';
---

<Layout title="Retro Shirt Quiz - 50 Camisetas Históricas de los Mundiales">
	<main class="app-container">
		<QuizGame />
	</main>
</Layout>

<style>
	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
</style>
